<div class="navside">
    <div>
        <span class="notification"><mat-icon>notifications_none</mat-icon></span>
    </div>
    <div class="image">
        <img src="assets/images/Bootstrap Assessment.png" alt="noimage">
    </div>
    <h3>Admin</h3>
    <h4>admin@gmail.com</h4>
</div>
<div>
    <h3>Dashboard</h3>
    <div class="menu">
        <div class="a">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <span>Home</span>
        </div>
        <div class="a">
            <button mat-icon-button>
                <mat-icon>info</mat-icon>
            </button>
            <span>Done</span>
        </div>
        <div class="a">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <span>Post</span>
        </div>
        <div class="a">
            <button mat-icon-button>
                <mat-icon>info</mat-icon>
            </button>
            <span>Comments</span>
        </div>
        <div class="a">
            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
            </button>
            <span>Pages</span>
        </div>
        <div class="a">
            <button mat-icon-button>
                <mat-icon>info</mat-icon>
            </button>
            <span>Setting</span>
        </div>


    </div>
</div>