// div {
//     margin: 20px;
// }

//=============================================== Video 10
// .navbar {
//     justify-content: space-between;
// }

// span {
//     padding: 15px;
// }

//=============================================== Video 11
.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    background-color: orange;
    width: 200px;
    height: 100%;
}

mat-toolbar {
    mat-icon {
        margin-left: 20px;
    }

    justify-content: space-between;
}

//=============================================== Video 12
// .btn {
//     margin: 150px;
// }

//=============================================== Video 14
// .mat-grid-tile {
//     background-color: orange;
// }


//=============================================== Video 23
// button {
//     margin: 100px;
// }



//===============================================Full Project
.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

mat-form-field {
    width: 100%;
    margin-top: 30px;
}